<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProducerLogFilePath" value="C:\Logs\Log_Producer_{Date}.log" />
    <add key="ProducerMessagePrefix" value="Hello my name is," />
    <add key="ConsumerMessagePrefix" value="Hello {0}, I am your father!" />
    <add key="ConsoleService" value="Producer" />

    <!-- DEVELOPMENT ONLY-->
    <add key="HostName" value="localhost" />
    <add key="UserName" value="guest" />
    <add key="Password" value="guest" />
    <add key="QueueName" value="iq-assessment" />
  </appSettings>
</configuration>